.DS_Store
*.test
*.out

.vscode/
.idea/
__debug_bin

*/vendor/
project/db-data

.env

.codegpt

# Ignore the binary files
broker-service/brokerApp
logger-service/loggerServiceApp
authentication-service/authApp
front-end/frontApp